<%
  let postTitle = post.title;
  if (!post.title)
    postTitle = __('untitled');
%>
<div class="main-title-bar">
  <div class="main-title-dot"></div>
  <% if (post.link){ %>
    <h1 itemprop="name">
      <a class="<%= class_name %>" href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%= postTitle %></a>
    </h1>
  <% } else { %>
    <% if (index){ %>
      <h1 itemprop="name">
        <a class="<%= class_name %>" href="<%- url_for(post.path) %>"><%= postTitle %></a>
      </h1>
    <% } else { %>
      <h1 class="<%= class_name %>" itemprop="headline name">
        <%= postTitle %>
      </h1>
    <% } %>
  <% } %>
</div>
