<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>
<script src="/js/color.global.min.js"></script>
<body>
  <div id="main-grid">
    <div id="nav">
      <%- partial('_partial/navbar', null, {cache: !config.relative_link}) %>
    </div>
    <div id="left-bar">
      <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
        <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
      <% } %>
    </div>
    <div id="content-body">
      <%- body %>
    </div>
    <div id="footer-wrapper">
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/back-to-top') %>
  </div>
</body>
</html>