<!DOCTYPE html>
<html theme="dark">
<link href="/fontawesome/css/fontawesome.css" rel="stylesheet">
<link href="/fontawesome/css/brands.css" rel="stylesheet">
<link href="/fontawesome/css/solid.css" rel="stylesheet">
<script src="/js/color.global.min.js"></script>
<script src="/js/light-dark-storage.js"></script>
<%- partial('_partial/head') %>
<body>
  <%- partial('_widget/color') %>
  <% let showBanner = is_home() && theme.home.banner.enable && theme.home.banner.url; %> 
  <% if (showBanner) { %>
    <div id="banner">
      <img src="<%- theme.home.banner.url %>" itemprop="image">
      <div id="banner-dim"></div>
    </div>
  <% } %> 
  <div id="main-grid" class="shadow">
    <div id="nav" <% if (showBanner) { %> class="has-banner" <% } %>>
      <%- partial('_partial/navbar', null, {cache: !config.relative_link}) %>
    </div>
    <div id="left-bar">
      <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
        <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
      <% } %>
    </div>
    <div id="content-body">
      <%- body %>
    </div>
    <div id="footer-wrapper">
      <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
    </div>
    <%- partial('_partial/back-to-top') %>
  </div>
  <script src="/js/light-dark-switch.js"></script>
</body>
</html>
