<div class="widget-wrap">
  <div class="info-card">
    <div class="avatar">
      <image src=<%- url_for(theme.avatar) %>></image>
      <div class="img-dim"></div>
    </div>
    <div class="info">
      <div class="username"><%- config.author %> </div>
      <div class="dot"></div>
      <div class="subtitle"><%- config.subtitle %> </div>
      <div class="link-list">
        <% for(let item of theme.links) { %>
          <a class="link-btn" href="<%- item.url %>" title="<%- item.name %>"><i class="<%- item.icon %>"></i></a>
        <% } %> 
      </div>  
    </div>
  </div>
</div>
