<% 
    function build_tags_string(tags) {
        let str = "";
        for(let tag of tags.data) {
            str += "#" + tag.name + " ";
        }
        return str.trim();
    }
%> 

<div class="archive-main-card">
    <div class="archive-title">Archive</div>
    <% let currYear = -1; %>
    <% page.posts.each(function(post, i) { %>
      <% let year = post.date.year(); %>
      <% if (year != currYear) { %>
        <% currYear = year; %>
        <div class="year-line">
            <div class="year-num"><%- year %></div>
            <div class="dot-wrapper">
                <div class="dot"></div>
            </div>
        </div>
      <% } %>
      <a class="archive-article-link" href="/<%- post.path %>" title="<%- post.title %>">
        <div class="date"><%- post.date.format("MM[-]DD") %></div>
        <div class="line">
            <div class="dot"></div>
        </div>
        <div class="title">
            <div class="title-inner">
                <%- post.title %>
            </div>
        </div>
        <div class="tags">
            <%- build_tags_string(post.tags) %>
        </div>
      </a>
    <% }) %>
  </div>