<% 
    function build_tags_string(tags) {
        let str = "";
        for(let tag of tags.data) {
            str += "#" + tag.name + " ";
        }
        return str.trim();
    }

    let countByYear = {};
    page.posts.each(function(post, i) {
        let year = post.date.year();
        countByYear[year] = countByYear[year] ? countByYear[year] + 1 : 1;
    })

    function getCountText(year) {
        let count = countByYear[year];
        if (count == 1)
            return "1 " + __('article_count');
        else
            return count + " " + __('article_count_plural');
    }
%> 

<div class="archive-main-card">
    <div class="archive-top">
      <div class="main-title-bar">
        <div class="main-title-dot"></div>
        <h1 class="article-title">Archive</h1>
      </div>    
    </div>
    <% let currYear = -1; %>
    <% page.posts.each(function(post, i) { %>
      <% let year = post.date.year(); %>
      <% if (year != currYear) { %>
        <% currYear = year; %>
        <div class="year-line">
            <div class="year-num"><%- year %></div>
            <div class="dot-wrapper">
                <div class="dot"></div>
            </div>
            <div class="article-count"><%- getCountText(year) %></div>
        </div>
      <% } %>
      <a class="archive-article-link" href="<%- url_for(post.path) %>" title="<%- post.title %>">
        <div class="date"><%- post.date.format("MM[-]DD") %></div>
        <div class="line">
            <div class="dot"></div>
        </div>
        <div class="title">
            <div class="title-inner">
                <% if (post.title) { %>
                    <%- post.title %>
                <% } else { %>
                    <%= __('untitled') %>
                <% } %>
            </div>
        </div>
        <div class="tags">
            <%- build_tags_string(post.tags) %>
        </div>
      </a>
    <% }) %>
  </div>