<% let cover = post.photos && post.photos.length %> 
<% let description = post.description && post.description.length %>

<article id="<%= post.layout %>-<%= post.slug %>" class="h-entry article article-type-<%= post.layout %>" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
  <% if (is_post() || theme.home.style == 'detail') { %>
    <%- partial('post/gallery') %>
  <% } %> 
  <div class="article-inner">
    <div class="article-main">
      <header class="article-header">
        <%- partial('post/title', {class_name: 'p-name article-title'}) %>
        <div class='meta-info-bar'>
          <%- partial('post/date', {class_name: 'meta-info', date_format: null}) %>
          <div class="need-seperator meta-info">
            <%- partial('post/category') %>  
          </div>
          <div class="wordcount need-seperator meta-info">
            <%- symbolsCount(post) %> <%- __('words') %> 
          </div>
        </div>
        <%- partial('post/tag') %>
      </header>
      <div class="e-content article-entry" itemprop="articleBody">
        <% if (post.excerpt && index){ %>
          <%- post.excerpt %>
        <% } else if (is_home() && !post.excerpt && theme.home.style != 'detail') { %>
          <div class="truncate-text">
            <% if(description){ %>
              <%- strip_html(post.description) %>
            <% } else{ %>
              <%- truncate(strip_html(post.content), {length: 500}) %>
            <% } %>
          </div>
        <% } else { %>
          <%- post.content %>
        <% } %>
      </div>

      <% if (theme.home.style == 'detail') { %> 
        <footer class="article-footer">
          <% if(post.excerpt && index) { %> 
            <a href="<%- url_for(post.path) %>#more" class="article-more-link">
              <%= __('read_more') %><i class="fa-solid fa-angle-right"></i>
            </a>
          <% } %> 
        </footer>
      <% } %>   
    </div>
    
    <% if (theme.home.style != 'detail' && is_home()) { %> 
    <a class="right-panel <% if (cover) { %> with-pic <% } else { %> non-pic <% } %> "
      <% if (cover) { %> style="background-image: url(<%- url_for(post.photos[0]) %>)" <% } %>
      href="<%- url_for(post.path) %>" 
    >
      <% if (cover) { %> 
      <div class="overlay">
        <i class="fa-solid fa-angle-right with-pic"></i>
      </div>
      <% } else { %> 
      <i class="fa-solid fa-angle-right non-pic"></i>
      <% } %> 
    </a>
    <% } %> 
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && theme.comment.valine && theme.comment.valine.enable) { %>
  <% 
    let valineConfig = theme.comment.valine;
    valineConfig.el = '#vcomments';
  %>
  <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
  <div id="comment-card" class="comment-card">
    <div class="main-title-bar">
      <div class="main-title-dot"></div>
      <div class="main-title"><%= __('comment') %> </div>
    </div>
    <div id="vcomments"></div>
  </div>
  <script>
      new Valine(<%- JSON.stringify(valineConfig) %>);
  </script>
<% } %>

<% if (!index && theme.comment.twikoo && theme.comment.twikoo.enable) { %>
  <script src="https://cdn.staticfile.org/twikoo/1.6.26/twikoo.all.min.js"></script>
  <div id="comment-card" class="comment-card">
    <div class="main-title-bar">
      <div class="main-title-dot"></div>
      <div class="main-title"><%= __('comment') %> </div>
    </div>
    <div id="tcomment"></div>
  </div>
  <script>
      twikoo.init({
          envId: '<%- theme.comment.twikoo.envID %>',
          el: '#tcomment',
          region: '<%- theme.comment.twikoo.region %>',
          path: '<%- theme.comment.twikoo.path %>',
          lang: '<%- theme.comment.twikoo.lang %>',
      })
  </script>
  <% } %>

<% if (!index && theme.comment.waline && theme.comment.waline.enable) { %>
  <div id="wl-comment-card" class="wl-comment-card">
    <div class="main-title-bar">
      <div class="main-title-dot"></div>
      <div class="main-title"><%= __('comment') %> </div>
    </div>
    <div id="waline"></div>
  </div>
  <script type="module">
    import { init } from 'https://cdn.staticfile.net/waline/3.0.0-alpha.9/waline.js';

    init({
      el: '#waline',
      serverURL: '<%- theme.comment.waline.serverURL %>',
      dark: 'html[theme="dark"]',
    });
  </script>
<% } %>