<% let cover = post.photos && post.photos.length %> 

<article id="<%= post.layout %>-<%= post.slug %>" class="h-entry article article-type-<%= post.layout %>" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
  <% if (is_post() || theme.home.style == 'detail') { %>
    <%- partial('post/gallery') %>
  <% } %> 
  <div class="article-inner">
    <div class="article-main">
      <header class="article-header">
        <%- partial('post/title', {class_name: 'p-name article-title'}) %>
        <div class='meta-info-bar'>
          <%- partial('post/date', {class_name: 'meta-info', date_format: null}) %>
          <div class="need-seperator meta-info">
            <%- partial('post/category') %>  
          </div>
          <div class="wordcount need-seperator meta-info">
            <%- symbolsCount(post) %> words
          </div>
        </div>
        <%- partial('post/tag') %>
      </header>
      <div class="e-content article-entry" itemprop="articleBody">
        <% if (post.excerpt && index){ %>
          <%- post.excerpt %>
        <% } else if (is_home() && !post.excerpt) { %>
          <div class="truncate-text">
            <%- strip_html(post.content) %>  
          </div>
        <% } else { %>
          <%- post.content %>
        <% } %>
      </div>

      <% if (theme.home.style == 'detail') { %> 
        <footer class="article-footer">
          <% if(post.excerpt && index && theme.excerpt_link) { %> 
            <a href="<%- url_for(post.path) %>#more" class="article-more-link">
              <%= theme.excerpt_link %><i class="fa-solid fa-angle-right"></i>
            </a>
          <% } %> 
          <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" data-title="<%= post.title %>" class="article-share-link">
            <i class="fa-solid fa-share"></i><%= __('share') %>
          </a>
        </footer>
      <% } %>   
    </div>
    
    <% if (theme.home.style == 'default' && is_home()) { %> 
    <a class="right-panel <% if (cover) { %> with-pic <% } else { %> non-pic <% } %> "
      <% if (cover) { %> style="background-image: url(<%- url_for(post.photos[0]) %>)" <% } %>
      href="<%- url_for(post.path) %>#more" 
    >
      <% if (cover) { %> 
      <div class="overlay">
        <i class="fa-solid fa-angle-right with-pic"></i>
      </div>
      <% } else { %> 
      <i class="fa-solid fa-angle-right non-pic"></i>
      <% } %> 
    </a>
    <% } %> 
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>
<% if (!index && post.comments && theme.valine.enable && theme.valine.appId && theme.valine.appKey){ %>
  <section id="comments" class="vcomment">

  </section>
<% } %>

<% if (!index && theme.comment.valine.enable) { %>
  <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
  <div id="comment-card" class="comment-card">
    <div class="title-bar">
      <div class="title-dot"></div>
      <div class="main-title">Comments</div>
    </div>
    <div id="vcomments"></div>
  </div>
  <script>
      new Valine({
          el: '#vcomments',
          appId: "<%= theme.comment.valine.appId %>",
          appKey: "<%= theme.comment.valine.appKey %>"
      })
  </script>
<% } %> 